.footer {
    height: 250px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 250px 300px 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #ff9800;
}

.imgFooter {
    width: 150px;
    border-radius: 1rem;
}

.redesOrden {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.redesFooter {
    width: 64px;
}